.lgd-container {
  position: relative;
}

.lgd-info {
  position: absolute;
  z-index: 20;
}

.lgd-content {
  position: relative;
  height: 600px;
  margin: 0 auto;
}

.lgd-render {
  position: absolute;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 600px;
  margin: auto;
}
.lgd-render img {
  position: absolute;
  top: 440px;
}
.lgd-render #canvas {
}

@media only screen and (min-width: 1051px) and (max-width: 1725px) {
  .lgd-container {
    margin-left: -225px;
  }
}