extends page-layout

block introduction
  h1.ui.dividing.header Privacypolicy
  p(class='lead') Circuit+ takes your privacy very seriously. Our Privacy Policy gives you a better understanding of what we do with your information. This policy applies to the circuitplus.org website and all related sites and tools that refer this policy, regardless of how you access or use them. Please read the following to learn the detail about our privacy policy.

block content
  div.peek
    div.ui.vertical.pointing.secondary.menu
      a.active.item Security
      a.item Privacy
      a.item Policy
      
  div.span9
    h2.ui.dividing.header Security
    section(id='security')

      h3 Password
      p Circuit+ does not store your password by clear-text passwords or reversible encryption.
        br
        | Meanwhile, Circuit+ uses the prevailing and secure Salt + Hash method to store your password. In this way, despite that the server is compromised, the hacker still cannot get your original passwords.

      h3 Sign in
      p Circuit+ has not obtained the SSL certification from reliable institute, so it cannot guarantee that your connection is safe. Please assure to sign in Circuit+ under safe net environment.
        br
        | In addition, out of the consideration of security, the longest online period is one month.

    h2.ui.dividing.header Privacy
    section(id='privacy')

      h3 Personal information
      p Circuit+ will never publish the information that you require to conceal.

      h3 Complete anonymous
      p We do not record any information related to your account or IP to correspond to your uploaded information in any way wherever it states Complete Anonymous. Circuit+ will not ask for signing in unless to make sure you are a registered user. In this way, your information is still away to be recorded.

      h3 Incomplete anonymous
      p We might record some information related to your account or IP to correspond your uploaded information wherever it states Incomplete Anonymous. But we will never publish it to everybody.

    h2.ui.dividing.header Policy
    section(id='policy')

      h3 Freedom
      p On condition of obeying the local laws and regulations, Circuit+ is completely free.
        br
        | Moreover, Circuit+ will not filter or restrict you uploading information. But please be responsible for your statements.

      h3 Restriction
      p Circuit+ will not restrict your behavior. But please be polite.
