extends page-layout

block introduction
  h1.ui.dividing.header Thanks
  p(class='lead')
    .ui.two.vertical.grid
      .row
        .column What has come into being in him was life, and the life was the light of all people. The light shines in the darkness, and the darkness did not overcome it.
      .row.right.aligned
        .column --"John 1-4,5"

block content
  div.peek
    div.ui.vertical.pointing.secondary.menu
      a.active.item Opensource
      a.item Developer
      a.item Contributor
      a.item Others
      
  div.span9
    h2.ui.dividing.header Opensource
    section.example(id='opensource')

      h3 php
      p Server-side HTML embedded scripting language.
        br
        | Home page: 
        a(href='http://php.net/', target='_blank') http://php.net/

      h3 MySQL
      p The world's most popular open source database.
        br
        | Home page: 
        a(href='http://www.mysql.com/', target='_blank') http://www.mysql.com/

      h3 jQuery
      p The Write Less, Do More, JavaScript Library.
        br
        | Home page: 
        a(href='http://jquery.com/', target='_blank') http://jquery.com/

      h3 More
      p Due to the endless enumeration of opensource to be thanked, we sincerely apologize.

    h2.ui.dividing.header Developer
    section.example(id='developer')

      h3 SUSTC-Shenzhen-B
      p Zhuoteng Peng

    h2.ui.dividing.header Contributor
    section.example(id='contributor')

      h3 Organization or institute
      p South University of Science and Technology of China

      h3 Personal
      p Not available now

    h2.ui.dividing.header Others
    section.example(id='others')

      p South University of Science and Technology of China

      p iGEM

      p Distinguished and respected you
